[Desktop Entry]
Comment=Visualizador de máquinas virtuais
Exec=virt-viewer --connect qemu:///system --reconnect --zoom=100 --direct --attach --auto-resize=always --cursor=auto --shared
GenericName=Visualizador de VMs
Icon=virt-viewer
MimeType=
Name=Virt Viewer Select
Path=/usr/bin
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=System;Virtualization;
